
.block_chat {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 110px;
    border-bottom: 1.5px solid gainsboro;

}

.chats_user_avatar {
    margin: 0 20px;

}

.username {
    font-weight: bold;
  
    margin-bottom: -8px;
}

.chats_message_metadata {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 35px;
    width: 69px;
    height: 46.5px;
}

.chats_user_info {
    display: flex;
    align-items: center;
    margin: 0 -20px;
    padding-left: 20px;
    
}

.chats_message_time {
    color: rgb(127, 120, 128);
    margin: 0 -5px
}

.chats_message_status span {
    color: #ffffff;
}

.chats_message_status .material-icons {
    color: #8E24AA;
    font-size: 25px;
    font-weight: bold;
}

.unread_messages {
    background-color: #8E24AA;
    color: white;
    width: fit-content;
    height: fit-content;
    font-size: 20px;
    border-radius: 20%;
    border: 0;
    margin: 0 -5px; 
}

.chats_message {
    width: 280px;

}

.user_n_message {
    display: flex;
    flex-direction: column;
}
      
.block_chat:hover {
    transition-duration: 0.5s;
    background-color: gainsboro;
  }


