
.user_info_edit {
    padding-right: 55px;
    width: 95vw;
    height: 40px;
    padding-left: 20px;
    font-size: 20px;
    background-color: rgb(237, 237, 237);
    border-bottom: 1.5px solid rgb(153, 153, 153);
 
}

.title_field {
    color: rgb(102, 102, 102);
    background-color: rgb(237, 237, 237);
    padding-top: 10px;
    padding-left: 20px;
    margin-top: 40px;
    width: 95vw;
}


.additional_info {
    padding-left: 20px;
    color: rgb(102, 102, 102);
}
