.header {
    color: #ffffff;
    background-color: #8E24AA;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    height: 110px;
    line-height: 15px;   

}

.title {
    font-size: 25px;
}

.left_field {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 -20px;

}

.menu {
    margin: 0 25px;
    color: white;
    background-color: #8E24AA;
    

}

.search {
    padding-right: 15px;
    color: white;
    background-color: #8e24aa;  
    margin-left: 20px;
}

.search span {
    font-size: 30px;
}

.menu span {
    font-size: 30px;
}

.menu:active {
    color:red;
    transition: 1s;
    animation: blinker 0.5s linear;
}

.search span:active {
    color:red;
    transition: 1s;
    animation: blinker 0.5s linear;
}
@keyframes blinker {
    50% {
      opacity: 0;
    }
}