.header {
    color: #ffffff;
    background-color: #8E24AA;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    height: 110px;
    line-height: 15px;   

}