
.message_text{
    display: flex;
    font-size: 17px;
}

.sending_time {
    display: flex;
    justify-content: flex-end;
    padding: 5px 5px 0px 0px;
    color: rgb(127, 120, 128);
    font-size: 70%;
}

.message {
    display: flex;
    align-self: flex-start; 
    flex-direction: column;
    background-color: #ffffff;
    max-width: 70%;
    min-width: 8%;
    word-wrap: break-word;
    padding: 0px 6px 0px 5px; 
    margin: .2em;  
    animation: smooth_appearance  2s; 
    animation-fill-mode: forwards;

}

@keyframes smooth_appearance {
    0% {
      opacity: 0;
      transform: scale(0);
    }
    70% {
      opacity: 0;
      transform: scale(0);
    }
    75% {
      transform: scale(1);
      opacity: 1;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }


.message-left {
    background-color: #ffffff;
    margin: 5px 5px 5px 10px;
    border-bottom-left-radius: 0; 
}

.message-right {
    background-color: rgb(241, 229, 244);
    margin: 5px 7px 5px auto;
    border-bottom-right-radius: 0; 
}

.status span {
    color: rgb(145, 67, 174);
    font-size: 20px;
}

.message_metadata {
    display: flex;
    justify-content: flex-end;
    margin-top: -17px;
}

